body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 30px;
}
.head {
    color: cornsilk;
    transition: 0.3s;
    text-align: center;
    margin-top: 50px;
}
.undhead {
    color: cornsilk;
    transition: 0.3s;
    text-align: center;
    margin-top: -10px;
}